<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- collections of keys for offers for the offers module, enter cache config as desired -->
	<bean id="offersCacheKeyConfigCollectionCommons" class="com.sears.common.cache.CacheKeyConfigCollection" init-method="init">
		<property name="cacheKeyConfigManager" ref="offersCacheKeyConfigManagerCommons"/>
		<property name="cacheKeyConfigCollection">

			<util:set value-type="com.sears.common.cache.CacheKeyConfig">

				<bean class="com.sears.common.cache.CacheKeyConfig" parent="offersCacheKeyConfigDefaultCommons">
					<property name="key" value="PingResponse.memcached" />
					<property name="className" value="com.myretail.product.bo.response.PingResponse" />
					<property name="idGetter" value="activeProfile"/>
				</bean>

				<bean class="com.sears.common.cache.CacheKeyConfig" parent="offersCacheKeyConfigDefaultCommons">
					<property name="key" value="offer.savings.map" />
				</bean>

				<bean class="com.sears.common.cache.CacheKeyConfig" parent="offersCacheKeyConfigDefaultCommons">
					<property name="key" value="meta.category.sears" />
					<property name="expire" value="14400"/>
				</bean>

				<bean class="com.sears.common.cache.CacheKeyConfig" parent="offersCacheKeyConfigDefaultCommons">
					<property name="key" value="available.store.id.list" />
					<property name="expire" value="86400"/>
				</bean>

			</util:set>

		</property>
	</bean>

	<!-- collections of keys for More 2 You for the offers module, enter cache config as desired -->
	<bean id="more2YouCacheKeyConfigCollectionCommons" class="com.sears.common.cache.CacheKeyConfigCollection" init-method="init">
		<property name="cacheKeyConfigManager" ref="more2YouCacheKeyConfigManagerCommons"/>
		<property name="cacheKeyConfigCollection">

			<util:set value-type="com.sears.common.cache.CacheKeyConfig">

				<bean class="com.sears.common.cache.CacheKeyConfig" parent="more2YouCacheKeyConfigDefaultCommons">
					<property name="key" value="more2u.offer" />
				</bean>

			</util:set>

		</property>
	</bean>

	<!-- ************************************************************************************* -->
	<!-- * Base definitions for offers cache ************************************************* -->
	<!-- * Please refrain from editing ******************************************************* -->
	<!-- ************************************************************************************* -->

	<!-- parent config for all offers configs, expire is 1 hour -->
	<bean id="offersCacheKeyConfigDefaultCommons" class="com.sears.common.cache.CacheKeyConfig">
		<property name="expire" value="3600" />
	</bean>

	<bean id="offersMemcachedLogOption" class="com.sears.common.log.LogOption">
		<constructor-arg type="java.lang.String" value="OffersMemcached" index="0" />
		<constructor-arg type="java.lang.Boolean" value="false" index="1" />
	</bean>

	<!-- key manager for offers -->
	<bean id="offersCacheKeyConfigManagerCommons" class="com.sears.common.cache.impl.CacheKeyConfigManagerImpl">
		<property name="name" value="offersCacheKeyConfigManagerCommons"/>
		<property name="logger" ref="logger" />
		<property name="strUtil" ref="strUtilCommons" />
		<property name="defaultConfig" ref="offersCacheKeyConfigDefaultCommons" />
		<property name="namespace" value="off" />
		<property name="logOption" ref="offersMemcachedLogOption" />
	</bean>

	<!-- cache manager for offers -->
	<bean id="offersCacheManagerCommons" class="com.sears.common.cache.memcached.impl.MemcachedCacheManagerImpl" init-method="init" destroy-method="destroy">
		<property name="enabled" value="true"/>
		<property name="logger" ref="logger" />
		<property name="strUtil" ref="strUtilCommons"/>
		<property name="hostnames" ref="offersCacheHostnames" />
		<property name="hostnamesOverride" value="true"/>
		<property name="hostnamesPropertyBean" ref="memcachedConfigProperties"/>
		<property name="hostnamesPropertyKey" value="hostnames.offers"/>
		<property name="name" value="offersCacheManagerCommons"/>
		<property name="flushOnConnect" ref="offersCacheFlushOnConnect" />
		<property name="cacheKeyConfigManager" ref="offersCacheKeyConfigManagerCommons"/>
	</bean>

	<!-- ************************************************************************************* -->
	<!-- * Base definitions for More 2 You cache ********************************************* -->
	<!-- * Please refrain from editing ******************************************************* -->
	<!-- ************************************************************************************* -->

	<!-- parent config for all More 2 You configs, expire is 1 hour -->
	<bean id="more2YouCacheKeyConfigDefaultCommons" class="com.sears.common.cache.CacheKeyConfig">
		<property name="expire" value="86400" />
	</bean>

	<bean id="more2uMemcachedLogOption" class="com.sears.common.log.LogOption">
		<constructor-arg type="java.lang.String" value="More2YouMemcached" index="0" />
		<constructor-arg type="java.lang.Boolean" value="false" index="1" />
	</bean>

	<bean id="more2YouCacheKeyConfigManagerCommons" class="com.sears.common.cache.impl.CacheKeyConfigManagerImpl">
		<property name="name" value="more2YouCacheKeyConfigManagerCommons"/>
		<property name="logger" ref="logger" />
		<property name="strUtil" ref="strUtilCommons" />
		<property name="defaultConfig" ref="more2YouCacheKeyConfigDefaultCommons" />
		<property name="namespace" value="m2u" />
		<property name="logOption" ref="more2uMemcachedLogOption" />
	</bean>

	<bean id="more2YouCacheManagerCommons" class="com.sears.common.cache.memcached.impl.MemcachedCacheManagerImpl" init-method="init" destroy-method="destroy">
		<property name="enabled" value="true"/>
		<property name="logger" ref="logger" />
		<property name="strUtil" ref="strUtilCommons"/>
		<property name="hostnames" ref="m2uCacheHostnames" />
		<property name="hostnamesOverride" value="true"/>
		<property name="hostnamesPropertyBean" ref="memcachedConfigProperties"/>
		<property name="hostnamesPropertyKey" value="hostnames.m2u"/>
		<property name="name" value="more2YouCacheManagerCommons"/>
		<property name="flushOnConnect" ref="m2uCacheFlushOnConnect" />
		<property name="cacheKeyConfigManager" ref="more2YouCacheKeyConfigManagerCommons"/>
	</bean>

</beans>
